
<div class="row d-flex flex-column justify-content-center align-content-center mt-5">
    <h1 class="text-light">404 Page Not Found</h1>
    <a class="btn btn-light" asp-controller="Home" asp-action="Index">Back to main page</a>
</div>